In [52]:
def openfile():
    while True:
        try:
            filename = str(input('Enter a class file to grade (i.e. class1 for class1.txt):'))
            filename = filename+'.txt'
            f = open(filename, "r")
            print('Successfully opened class1.txt')
            print(f.read())
            break
        except FileNotFoundError as fnf:
            print('File cannot be found.')
            print(fnf)
openfile()

Enter a class file to grade (i.e. class1 for class1.txt):oh
File cannot be found.
[Errno 2] No such file or directory: 'oh.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):
File cannot be found.
[Errno 2] No such file or directory: '.txt'
Enter a class file to grade (i.e. class1 for class1.txt):class1
Successfully opened class1.txt
N00000001,A,A,D,D,C,D,D,A,,C,D,B,C,,B,C,B,D,A,C,,A,,C,D
N00000002,,A,,D,,B,D,A,C,C,D,,A,A,A,C,B,D,C,C,A,A,B,,D
N00000003,B,A,,D,C,B,D,A,C,C,,B,A,B,A,C,B,D,A,,A,,B,D,D
N00000004,B,B,D,,,B,D,A,C,C,D,B,A,B,A,C,B,D,,C,A,D,B,C,D
N00000005,B,A,,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,D,C,A,A,,D,D
N00000006,B,A,D,A,C,B,D,A,C,C,C,B,A,D,A,C,,C,A,C,A,C,B,D,A
N00000007,B,A,D,D,C,B,D,A,C,,D,B,A,B,A,C,B,D,,C,A,A,B,D,
N00000008,A,A,D,D,C,,D,A,C,C,B,C,A,B,A,A,B,D,A,C,A,,B,B,D
N00000009,B,A,,D,C,B,D,A,C,A,D,B,A,B,A,A,B,D,A,C,A,A,B,D,D
N00000010,,A,D,B,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,D,,,B,D,B
N00000011,B,A,D,,C,B,D,A,C,D,D,B,A,B,A,C,B,D,A,C,A,B,B,D,D
N00000012,B,,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,A,,A,A,A,,C
N00000013,,A,D,,B,B,,A,C,A,D,B,A,B,D,C,B,D,A,C,A,A,B,D,D
N00000014,B,B,D,D,C,B,,D,C,C,D,B,A,B,A,C,,D,A,C,A,A,,D,D
N00000015,A,C,C,D,C,B,,A,C,C,D,B,A,B,A,C,B,D,A,C,A,B,,D,D
N00000016,B,A,C,D,,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D
N00000017,B,A,D,D,C,B,C,A,D,C,D,A,A,D,A,C,B,D,D,B,,A,B,D,D
N00000018,B,A,D,A,C,B,D,A,C,C,D,B,A,B,,,B,D,A,B,A,A,B,,D
N00000019,B,A,D,D,C,B,D,C,C,C,,B,,B,D,C,B,D,A,,A,A,B,D,D
N00000020,B,,D,D,C,B,D,A,C,B,,,A,C,A,D,B,D,B,C,A,A,B,D,D

In [55]:
import numpy as np
import pandas as pd
def num_of_line():
    while True:
        try:
            filename = str(input('Enter a class file to grade (i.e. class1 for class1.txt):'))
            filename = filename+'.txt'
            f = open(filename, "r")
            print('Successfully opened class1.txt')
            print(f.read())
        except FileNotFoundError as fnf:
            print('File cannot be found.')
            print(fnf)
openfile()

Enter a class file to grade (i.e. class1 for class1.txt):class
File cannot be found.
[Errno 2] No such file or directory: 'class.txt'
Enter a class file to grade (i.e. class1 for class1.txt):class2
Successfully opened class1.txt
N00000021,B,A,C,D,C,C,D,D,C,C,D,B,,B,A,C,B,,A,D,A,A,B,D,
N00000022,B,A,D,A,C,B,D,D,C,C,D,B,A,B,A,,B,A,A,C,A,A,B,A,D
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A
N00000024,C,C,D,D,C,B,,A,C,C,D,B,A,B,,C,B,D,A,C,A,B,B,,D
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D
N00000026,B,C,D,D,C,D,B,A,C,D,D,,A,B,A,C,B,D,,C,A,A,B,D,D
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D
N00000028,B,A,D,D,D,B,D,A,C,C,,,A,B,A,,B,D,C,C,A,A,B,C,D
N00000029,B,A,D,D,C,A,D,A,C,C,D,B,A,B,A,C,B,,,C,A,A,B,D,D
N00000030,A,A,D,D,C,B,D,,C,C,D,B,A,B,A,C,B,B,A,C,A,,B,D,D
N00000031,B,,D,D,C,B,D,A,A,C,D,C,A,B,A,C,B,C,A,C,C,A,B,D,D
N00000032,B,A,D,D,C,B,D,A,C,C,D,,A,A,A,C,B,D,A,C,,A,B,D,D
N00000033,B,A,D,D,C,,D,A,C,B,D,B,A,B,C,C,C,D,A,C,A,,B,D,D
N00000034,B,,D,,C,B,A,A,C,C,D,B,A,,A,C,B,A,B,C,A,,B,D,D
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A
N00000036,B,A,D,D,C,B,D,A,C,B,A,C,A,B,A,C,B,D,A,C,A,A,B,,
N00000037,B,A,D,D,C,,D,A,C,C,D,,A,B,A,A,B,D,A,C,,,,D,D
N00000038,,A,D,,C,B,D,A,A,C,D,B,A,B,A,C,B,D,,C,A,D,B,D,C
N00000039,B,A,D,D,C,A,B,A,C,C,D,B,A,D,A,,C,D,A,B,A,A,B,A,D
N00000040,B,A,,D,C,B,D,D,C,C,C,B,A,B,A,C,A,,A,C,A,,B,D,D
N00000041,,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,B,A,B,D,D
N00000042,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D
N00000043,C,A,D,D,C,B,D,A,C,C,D,B,A,B,C,C,B,D,A,C,A,,B,D,D
N00000044,B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,A,B,D,A,C,D,A,B,D,D
N00000045,C,A,A,D,C,B,D,C,,C,D,B,A,B,A,B,B,A,,C,A,A,B,D,D

In [58]:
import numpy as np 
import pandas as pd
def openfile():
    while True:
        try:
            filename = str(input('Enter a class file to grade (i.e. class1 for class1.txt):'))
            filename = filename+'.txt'
            f = open(filename, "r")
            print('Successfully opened class1.txt')
            count=0
            list = []
            for row in f:
                row=row.strip().split(',')
                list.append(row)
                count = count+1
            print(count)
            valid_rows=0
            for i in range(len(list)):
                #start with N
                if(list[i][0][0]!='N'):
                    print("First character of row", i+1, "is invalid!")
                    print(list[i])
                # after N is 8 characters
                elif(len(list[i][0])!=9):
                    print("Id of row", i+1, "is invalid!")
                    print(list[i])
                # One row has 26 values
                elif(len(list[i]) < 26):
                    print("Answers number is",i+1,"too little!",len(list[i])-1)
                    print(list[i])
                elif (len(list[i]) > 26):
                    print("Aswers number is", i + 1, "too much!",len(list[i])-1)
                    print(list[i])
                else:
                    valid_rows=valid_rows+1
            print('File has',valid_rows,'valid rows')
            break
        except FileNotFoundError as fnf:
            print('File cannot be found.')
            print(fnf)
openfile()


# def valid_row(list):
#     for i in list:

Enter a class file to grade (i.e. class1 for class1.txt):class4
Successfully opened class1.txt
495
Aswers number is 471 too much! 26
['N00000616', 'B', 'A', 'D', 'D', 'A', 'B', 'D', 'A', 'C', 'C', 'D', 'C', 'A', 'B', 'A', 'C', 'B', 'D', 'A', '', 'A', 'B', 'B', 'D', 'D', 'A']
Id of row 478 is invalid!
['N0000062', 'B', 'A', 'A', 'D', 'D', 'B', 'D', 'A', 'C', 'C', '', 'B', 'A', 'B', 'A', 'B', 'B', 'D', 'A', 'C', 'A', 'A', '', 'D', 'D']
Aswers number is 493 too much! 26
['N00000638', 'B', 'A', 'D', 'D', 'C', 'B', 'D', 'A', 'C', '', 'D', 'B', 'A', 'B', 'A', 'B', 'C', 'D', 'A', 'C', 'A', '', '', 'D', 'D', 'Q']
File has 492 valid rows

In [64]:
import numpy as np 
import pandas as pd
filename = input('Enter a class file to grade (i.e. class1 for class1.txt):') 
data = pd.read_csv(filename , header = None)
data

Enter a class file to grade (i.e. class1 for class1.txt):class1.txt

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,N00000001,A,A,D,D,C,D,D,A,NaN,...,C,B,D,A,C,NaN,A,NaN,C,D
1,N00000002,NaN,A,NaN,D,NaN,B,D,A,C,...,C,B,D,C,C,A,A,B,NaN,D
2,N00000003,B,A,NaN,D,C,B,D,A,C,...,C,B,D,A,NaN,A,NaN,B,D,D
3,N00000004,B,B,D,NaN,NaN,B,D,A,C,...,C,B,D,NaN,C,A,D,B,C,D
4,N00000005,B,A,NaN,D,NaN,B,D,A,C,...,C,B,D,D,C,A,A,NaN,D,D
5,N00000006,B,A,D,A,C,B,D,A,C,...,C,NaN,C,A,C,A,C,B,D,A
6,N00000007,B,A,D,D,C,B,D,A,C,...,C,B,D,NaN,C,A,A,B,D,NaN
7,N00000008,A,A,D,D,C,NaN,D,A,C,...,A,B,D,A,C,A,NaN,B,B,D
8,N00000009,B,A,NaN,D,C,B,D,A,C,...,A,B,D,A,C,A,A,B,D,D
9,N00000010,NaN,A,D,B,C,B,D,A,C,...,C,B,D,A,D,NaN,NaN,B,D,B
10,N00000011,B,A,D,NaN,C,B,D,A,C,...,C,B,D,A,C,A,B,B,D,D
11,N00000012,B,NaN,D,D,C,B,D,A,C,...,A,B,D,A,NaN,A,A,A,NaN,C
12,N00000013,NaN,A,D,NaN,B,B,NaN,A,C,...,C,B,D,A,C,A,A,B,D,D
13,N00000014,B,B,D,D,C,B,NaN,D,C,...,C,NaN,D,A,C,A,A,NaN,D,D
14,N00000015,A,C,C,D,C,B,NaN,A,C,...,C,B,D,A,C,A,B,NaN,D,D
15,N00000016,B,A,C,D,NaN,B,D,A,C,...,C,B,D,A,C,A,A,B,D,D
16,N00000017,B,A,D,D,C,B,C,A,D,...,C,B,D,D,B,NaN,A,B,D,D
17,N00000018,B,A,D,A,C,B,D,A,C,...,NaN,B,D,A,B,A,A,B,NaN,D
18,N00000019,B,A,D,D,C,B,D,C,C,...,C,B,D,A,NaN,A,A,B,D,D
19,N00000020,B,NaN,D,D,C,B,D,A,C,...,D,B,D,B,C,A,A,B,D,D

In [67]:
answer_key = np.array(['B','A','D','D','C','B','D','A','C','C','D','B','A','B','A','C','B','D','A','C','A','A','B','D','D'])
answer_key

array(['B', 'A', 'D', 'D', 'C', 'B', 'D', 'A', 'C', 'C', 'D', 'B', 'A',
       'B', 'A', 'C', 'B', 'D', 'A', 'C', 'A', 'A', 'B', 'D', 'D'],
      dtype='<U1')

In [ ]:
answer